<div class="row">
    <div class="col-md-4">
        <h2>Konum Demo Site</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Kaydedilmiş Konumlar", "Index", "Locations", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Konum Kaydet", "Create", "Locations", null, new { @class = "btn btn-default" })
    </div>
</div>